<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="alert alert-danger">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <% translated_message = message.gsub(resource.class.model_name.human, resource.class.model_name.human.downcase) %>
        <li><%= translated_message.gsub("Password", "パスワード") %></li>
      <% end %>
    </ul>

<% end %>