// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item-img {

   width: 100%;

   height: 300px;

   object-fit: cover; /* width, heightといっしょに使います */

   border: 1px solid #111;

}