<!--ユーザーページのアバウトページ-->
<div class="col-sm-15 col-md-11 col-lg-9 px-5 px-sm-0 mx-auto align-self-center text-start" style="margin-top: 50px; margin-bottom: 50px;">

<div class="container">
  <h1 class="my-3 h3"></h1>


    <p class="text-center" style="font-size: 45px; font-family: 'Sacramento', cursive;">About <i class="fa-solid fa-cake-candles"></i></p>
     <div class="text-center" style="font-size: 20px; font-family: 'M PLUS 1p', sans-serif;">
     <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br></p>
     <p>お子様からお年寄りの方までお召し上がりいただけるよう、<br></p>
     <p>様々なバリエーションをご用意しております。<br></p>
     <p>また、全国への発送可能ですので<strong>「いつ」</strong>でも<strong>「どこ」</strong>でもご注文いただけます。<br></p>
     <p>ぜひご注文ください。
     <i class="fa-solid fa-snowman"></i>
     <%= link_to admin_sessions_path, class: "your-link-class" do %>
      <i class="fa-solid fa-heart"></i></p>
     <% end %>
     </div>




   <div class="container" style="position: relative; text-align: center;">
  <%= image_tag 'about.jpg', class: "img-fluid", style: "max-width: 100%; max-height: 100%; object-fit: cover; margin: auto;" %>

          
    