<style>
    .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
    
    .container img {
        max-height: 400px;
    }
    
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        text-align: center;
    }
    
    .navbar {
    height: 55px;
    }
</style>

<div class="container">
    <%= image_tag 'cake.jpg', class: "img-fluid" %>
    <div class="text">
        <p>
            <span>Welcome Naganocake</span><br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br>
        </p>
    </div>
</div>

<div class="container">
  <h2>新着商品</h2>
  <div class="row">
      <% @items.first(4).each do |item| %>
        <div class="col-md-3">
        　<!--%= image_tag item.image.url, class: "img-fluid" %-->
        </div>
      <% end %>
  </div>
  <div class="all-items-show-button">
      <%= link_to "全ての商品をみる",  public_items_path %></div>
</div>