<h1>Admin::Homes#about</h1>
<p>Find me in app/views/admin/homes/about.html.erb</p>
<div class="container">
    <div class="row">
        <div class="col-xs-12 m-auto position-relative">
            <div style="position: relative;">
                <%= image_tag 'cake.jpg', class: "img-fluid", style: "max-height: 400px;" %>
                <div class="position-absolute top-50 start-50 translate-middle text-center" style="color: black; transform: translate(-50%, -50%);">
                    <p>
                        <span>Welcome Naganocake</span><br>
                        このサイトは、ケーキ販売のECサイトになります。<br>
                        会員でない方も商品の閲覧はできますが、<br>
                        購入には会員登録が必要になります。<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>