<footer style="background-color: #a0522d; color: white;">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto'>
        <p></p>
        <p>Team <%= content_tag(:i, "", class: "fa-solid fa-cake-candles") %> Jump</p>
      </div>
    </div>
  </div>
</footer>
